@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "tailwindcss";

:root {
  /*
  --background: #ffffff;
  --foreground: #171717;*/
}
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  padding: 50px;
  background: linear-gradient(-65.72deg, #c8dce5, #b6ccda);
  font-family: "Poppins", sans-serif;
  color: white;

  /*
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  */
}

h1 {
  font-size: 65px;
  font-weight: 400;
  b {
    font-weight: 600 bolder;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  font-size: 20px;

  .apple-icon {
    font-size: 70px;
    margin-right: 20px;
  }
  .icon {
    font-size: 30px;
  }

  ul {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

    list-style: none;
  }
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
