@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "tailwindcss";

:root {
  /*
  --background: #ffffff;
  --foreground: #171717;*/

  /** COLORS **/
  --darkslategrey: #404354;
  --turquoise: #58d7c4;
  --mistyrose: #f2cec6;
}
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  padding: 25px 70px;
  background: linear-gradient(-65.72deg, #c8dce5, #b6ccda);
  font-family: "Poppins", sans-serif;
  color: white;

  button {
    cursor: pointer;
  }

  /*
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  */
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 65px;
  b {
    font-weight: 600 bolder;
  }
}

.menu {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 20px;

  .apple-icon {
    font-size: 70px;
    cursor: pointer;
  }

  ul {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;

    list-style: none;

    li {
      cursor: pointer;
    }
  }

  .icon {
    font-size: 30px;
    cursor: pointer;
  }
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  gap: 2rem;
  article {
    align-self: center;
  }

  img {
    display: block;
    width: 100%;
    height: 115%;
    margin: -7px 0px;
    object-fit: cover;
  }
}

.shiftBtnContaioner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;

  p {
    writing-mode: vertical-rl;
    word-spacing: -2px;
    margin: -10px;
    font-size: 9px;
  }
}
